body {
    font-family:'Montserrat', sans-serif;
    background-color: #282c35;
    color: rgb(245,245,245);
}

.green-text {
    color: rgb(20, 180, 20)
}

.red-text {
    color: rgb(255, 10, 10);
}

#top-area {
    padding: 0;
    margin-top: 5%;
}

#top-area h4 {
    font-size: 1.3em;
}

#top-area h2 {
    margin-top: 10%;
    color: rgb(245,245,245);
    font-size: 1.5em;
    
}

#top-area h3 {
    
    font-size: 2.0em;
}

#spend {
    margin-top: 10%;
}

#spend h3 {
    font-size: 1.5em;
}

#expenses {
    margin-top: 10%;
}

#expenses h3 {
    font-size: 1.5em;
    display: inline;
}

#expenses p {
    margin: 10px;
}

#expenses-header {
    margin-bottom: 20px;
}

.category-amount {
    margin-left: 10px;
}

.category-expand-button {
    float: right;
    font-size: 1.0em;
    color: rgb(245,245,245);
    background: none;
    border: none;
    margin: 0;
    cursor: pointer;
}

.expense  {
    border-radius: 10px;
    background-color: #383c45;
    border: solid 1px white;
    font-size: 1.0em;
    padding: 10px 15px;
    margin: 20px auto;
}

#add-category-button {
    font-size: 1.0em;
    padding-left: 0;
    margin-left: 20px;
    color: rgb(245,245,245);
    background: none;
    padding-left: 20px;
    border: none;
    margin: 0;
    cursor: pointer;
}

#add-category-form {
    margin-left: 20px;
}

#add-category-form h3 {
    font-size: 1.2em;
}

.emoji {
    font-size: 1.0em;
    margin-right: 5px;
}

#spend-button {
    border-radius: 20% / 50%;
    font-size: 1.8em;
    font-weight: 900;
    position:fixed;
    bottom: 5%;
    right: 10%;
}

#spend-submit-button {
    font-size: 1.5em;
    border: 1px solid #fff;
    position:fixed;
    bottom: 5%;
    right: 10%;
}

#spend-cancel-button {
    font-size: 1.5em;
    border: 1px solid #888;
    color: #888;
    position:fixed;
    bottom: 5%;
    left: 10%;
}

.progress-bar {
    width: 100%;
}

#bottom {
    height: 100px;
}